*{
	background-color: #d1bea9;
	text-align: center;
	margin-top: 0%;
	margin-bottom: 0%;
	color: white;
	text-decoration: none;
}

.cont, #name, .navBar, #exampleSlider, .footer,  .num{
	width: 76%;
	margin-left: 12%;
	margin-right: 12%;
	background-color: #b49b7f;
}
.con{
   width: 60%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: #b49b7f;
}
a,ul, li{
	display: flex;
	width: 90%;
	background-color: #b49b7f;
	list-style: none;
	justify-content:  space-between;
	font-size: 19px;
	margin-left: 2%;
	margin-right: 1%;
}
#log{
	width: 6%;
	margin-top: 2%;
	/*margin-bottom: 1%;*/
	height: 5%;
	border-radius: 50%;
}

#name, h5, #name2{
	
	font-family: 'Baloo Bhaijaan 2', cursive;
	font-size: 22px;
	background-color: #b49b7f;
}
#name2{
	display: inline;
}
h5{
	display: inline;
}
i{
	background-color: #b49b7f;
}
.navBar{
	display: inline;
}

hr{
	width: 90%;
	margin-top:  3%  ;
	margin-bottom: 3%;
}


.wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
    background-color: #b49b7f;
    
}
img{
    width: 100%;
    background-color: #b49b7f;
}
.container{
	margin-bottom: 3%;
    width: 57%;
    /*top: 50%;
    left: 50%;*/
    margin-left: 8%;
    overflow: hidden;
    /*background-color: #b49b7f;*/
    
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
#im{
	
	position: absolute;
	/*height: 60%;*/
	width: 19%;
	margin-left: 13%;
	margin-top: -31%;
	overflow: hidden;
	/*background-color: #b49b7f;*/
}


#slo{
	padding-right: 15%;
	padding-left: 15%;
	background-color: #b49b7f;
	font-family: 'Baloo Bhaijaan 2', cursive;
	font-size: 25px;
}

#gif{
	width: 35%;
	height: 180px;
	margin-left: 10%;
    display: inline;
    margin-top: 3%;
    margin-bottom: 5%;
    float: left;
    background-color: #b49b7f;
}
.w{
	background-color: #b49b7f;
	font-size: 25px;
	margin-bottom: 3%;
}
#pa{
	display: inline;
	background-color: #b49b7f;
	font-size: 22px;
	width: 30%;
	float: right;
	margin-right: 15%;
	margin-top: 3%;
}
p{
	background-color: #b49b7f;
}
.footer{
    height: 100px;
    padding-top: 25px;
    margin-top: 3%;
}
.con{
	display: inline;
	font-size: 20px;
	
}
.num{
	font-size: 15px;
    margin-top: 1%;
    margin-left: 13%;
}
.last{
	font-size: 17px;
	margin-top: 3%;
background-color: #b49b7f;
margin-bottom: 4%;
}
.sect{
	color: #818a3b;
	display: flex;
	width: 80%;
	background-color: #b49b7f;
	justify-content:  space-between;
	font-size: 17px;
    margin-left: 10%;
}
.cir{
	border: solid 3px;
	color: white;
	font-size: 20px;
	border-color: #a5af63;
	border-radius: 50%;
	width: 20%;
	height: 140px;
	justify-content: space-between;
	background-color: #a5af63;
	margin-bottom: 5%;
}
.in{
	color: white;
	font-size: 22px;
	background-color: #a5af63;
	margin-top: 20%;
	width: 2%;
	margin-left: 40%;
}
a:hover{
	color: #885243;
}
#home{
	color: #885243;
}
.ph{
	background-color: #b49b7f;

}
.meal{
	font-size: 10px;
}