*{
    background-color: burlywood;
    text-align: center;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;
    
}

.timeman1 {
    margin: 30px;
}
#name{
  margin: 5px; margin-top: 10px
}
#pp{
    margin-top:  5px;
    width: 60%;
    font-size: 16px;
}
p{
    font-size: 20px;
}
.timeman2 {
    margin: 30px;
}

#team {
    color: crimson;
}

.timeman p {
    margin: 10px;
    color: rgb(5, 5, 68);
}